:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* ✅ APP CENTER CONTAINER */
.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ✅ LOGIN CARD */
.login-card {
  background: linear-gradient(135deg, #a6ca17, #492a98);
  padding: 30px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(234, 12, 12, 0.25);
  text-align: center;
  color: rgb(198, 19, 19);
}

.login-card h2 {
  margin-bottom: 20px;
  color: #213547;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-card button {
  width: 100%;
  margin-top: 15px;
}
